<header>

  <div class="container">
    <div class="logo" routerLink="/" (click)="stateService.chainType.next('all')">
      <img class="logo-image" src="assets/img/logo.svg" alt="BadgerBite">
      <p class="title">BadgerBite</p>
    </div>
    <div>
      <a class="btn btn-block btn-social btn-twitter shadow-none" href="https://twitter.com/bite_badger" target="_blank">
        <span class="social-icon fa-brands fa-twitter"></span>
      </a>
      <a class="btn btn-block btn-social btn-github shadow-none" href="https://github.com/BadgerbiteInfo" target="_blank">
        <span class="social-icon fa-brands fa-github"></span>
      </a>
      <a class="btn btn-block btn-social btn-telegram shadow-none" href="https://t.me/BadgerbiteValidator" target="_blank">
        <span class="social-icon fa-brands fa-telegram"></span>
      </a>
      <a class="btn btn-block btn-bars-menu shadow-none hide" id="btn-bars-menu" (click)="openLeftHandMenuForMobile()">
        <span class="burger-icon fa-solid fa-bars"></span>
      </a>
    </div>
  </div>

  <div class="ticker-container">
    <div class="ticker-wrapper">
    <div class="ticker-transition">
      <li *ngFor="let user of chain; index as i" class="list-inline-item px-2 mb-0" style="text-transform:uppercase;"><b>{{this.ChainId[i]}}</b> {{this.Price[i]}} <span *ngIf="Negative[i] == false" class="text-danger">({{this.Change[i]}})</span><span *ngIf="Negative[i] == true" class="text-success">({{this.Change[i]}})</span></li>
      <li *ngFor="let user of chain; index as i" class="list-inline-item px-2 mb-0" style="text-transform:uppercase;"><b>{{this.ChainId[i]}}</b> {{this.Price[i]}} <span *ngIf="Negative[i] == false" class="text-danger">({{this.Change[i]}})</span><span *ngIf="Negative[i] == true" class="text-success">({{this.Change[i]}})</span></li>
      <li *ngFor="let user of chain; index as i" class="list-inline-item px-2 mb-0" style="text-transform:uppercase;"><b>{{this.ChainId[i]}}</b> {{this.Price[i]}} <span *ngIf="Negative[i] == false" class="text-danger">({{this.Change[i]}})</span><span *ngIf="Negative[i] == true" class="text-success">({{this.Change[i]}})</span></li>
      <li *ngFor="let user of chain; index as i" class="list-inline-item px-2 mb-0" style="text-transform:uppercase;"><b>{{this.ChainId[i]}}</b> {{this.Price[i]}} <span *ngIf="Negative[i] == false" class="text-danger">({{this.Change[i]}})</span><span *ngIf="Negative[i] == true" class="text-success">({{this.Change[i]}})</span></li>
      <li *ngFor="let user of chain; index as i" class="list-inline-item px-2 mb-0" style="text-transform:uppercase;"><b>{{this.ChainId[i]}}</b> {{this.Price[i]}} <span *ngIf="Negative[i] == false" class="text-danger">({{this.Change[i]}})</span><span *ngIf="Negative[i] == true" class="text-success">({{this.Change[i]}})</span></li>
      

    </div>
    </div>
  </div>

  <!-- <div class="tagline bg-light" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="text-slider">
            <ul class="list-inline mb-0 move-text">
              <li *ngFor="let user of chain; index as i" class="list-inline-item px-2 mb-0" style="text-transform:uppercase;"><b>{{this.ChainId[i]}}</b> {{this.Price[i]}} <span *ngIf="Negative[i] == false" class="text-danger">({{this.Change[i]}})</span><span *ngIf="Negative[i] == true" class="text-success">({{this.Change[i]}})</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->



</header>
