<footer>

  <div class="container" >
      © 2022 BadgerBite DAO.
      <div class="btn-container">
        <i class="fa fa-sun-o" aria-hidden="true"></i>
          <label class="switch btn-color-mode-switch">
                <input type="checkbox" name="color_mode" id="color_mode" (change)="onChange($event.target)" value="1">
                <label for="color_mode" data-on="Dark" data-off="Light"  class="btn-color-mode-switch-inner"></label>
            </label>
          <i class="fa fa-moon-o" aria-hidden="true"></i>
      </div>
    
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="script.js"></script>
  </div>
</footer>
