<!-- Hero Start -->
<section class="bg-half-170 bg-primary d-table w-100" id="home"
  style="background: url('assets/img/back.png') center center;">
  <div class="container">
    <p style="text-align:center;"><img src="assets/img/logo2.png" alt="Logo" class="img-fluid" style="max-width: 50%;padding-inline: 0px;"></p>
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-12">
        <div class="title-heading text-center">
          <h1 class="heading title-dark text-white mb-3">BadgerBite</h1>
          <p class="para-desc mx-auto text-white-50">We are a Union of Experienced Validators spreading among many chains but above all we are a team of crypto enthousiasts driven by our passion! </p>
          <div class="row mt-4 pt-2">
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
              <div class="card explore-feature border-0 rounded text-center bg-white">
                <div class="card-body">
                  <div class="icon rounded-circle shadow-lg d-inline-flex justify-content-center">
                    <img src="assets/img/server.png" class="img-fluid" style="max-width: 50%;padding-inline: 0px;" alt="">
                  </div>
                  <div class="content mt-3">
                    <h6 class="mb-0"><a href="javascript:void(0)" (click)="open(infrastructure)" class="title text-dark">Enterprise Infrastructure</a></h6>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #infrastructure let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Cutting Edge Technology</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Our nodes are redundant and are globally distributed between multiple data centers, providing uninterrupted service.<br>Utilizing latest technologies, fully customized infrastructure service, high availability and efficiency on Tier 3+ provider to ensure 100% uptime<br><br>We never go down!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
              </div>
            </ng-template>
            <!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
              <div class="card explore-feature border-0 rounded text-center bg-white">
                <div class="card-body">
                  <div class="icon rounded-circle shadow-lg d-inline-flex justify-content-center">
                    <img src="assets/img/security.png" class="img-fluid" style="max-width: 50%;padding-inline: 0px;" alt="">
                  </div>
                  <div class="content mt-3">
                    <h6 class="mb-0"><a href="javascript:void(0)" (click)="open(security)" class="title text-dark">Enhanced Security</a></h6>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #security let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Security is our middle name!</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Here at BadgerBite we take security very seriously.<br>Our multilayer network setup protects validator nodes behind globally distribited public sentry nodes,thus eliminating the risk of network DDOS attacks and ensures the seamelessly run of services.
                  <br><br>Your stake is safe with us!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
              </div>
            </ng-template>
            <!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
              <div class="card explore-feature border-0 rounded text-center bg-white">
                <div class="card-body">
                  <div class="icon rounded-circle shadow-lg d-inline-flex justify-content-center">
                    <img src="assets/img/monitoring.png" class="img-fluid" style="max-width: 50%;padding-inline: 0px;" alt="">
                  </div>
                  <div class="content mt-3">
                    <h6 class="mb-0"><a href="javascript:void(0)" (click)="open(monitoring)" class="title text-dark">27/7 Monitoring and Alert</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #monitoring let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Always on Call,Always Awake!</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Every Node is monitored by multiple robust tools reporting its performance and alerting in case of critical incidents.Our members are spread across different timezones, ready to respond and resolve immediately no matter the time of day or night.<br><br>BadgerBite never sleeps!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
              </div>
            </ng-template>
            <!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
              <div class="card explore-feature border-0 rounded text-center bg-white">
                <div class="card-body">
                  <div class="icon rounded-circle shadow-lg d-inline-flex justify-content-center">
                    <img src="assets/img/umbrella.png" class="img-fluid" style="max-width: 50%;padding-inline: 0px;" alt="">
                  </div>
                  <div class="content mt-3">
                    <h6 class="mb-0"><a href="javascript:void(0)" (click)="open(slashing)" class="title text-dark">100% Slashing Protection</a></h6>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #slashing let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Dont Worry,We Got You Covered!</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>We offer all our delegators a protection of their funds in case of any slashing event due to downtime or technical difficulties resulting in missed blocks and rewards. Never lose any funds or miss out on any rewards due to uptime slashing.<br><br>Never miss a token!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
              </div>
            </ng-template>
            <!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
              <div class="card explore-feature border-0 rounded text-center bg-white" (click)="open(social)">
                <div class="card-body">
                  <div class="icon rounded-circle shadow-lg d-inline-flex justify-content-center">
                    <img src="assets/img/social.png" class="img-fluid" style="max-width: 50%;padding-inline: 0px;" alt="">
                  </div>
                  <div class="content mt-3">
                    <h6 class="mb-0"><a href="javascript:void(0)" class="title text-dark align-bottom">Social Participation </a></h6>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #social let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Always Happy to Help!</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Our friendly and kind team members are highly participating in every social platform of the networks we are involved, willing and ready to provide any kind of tech assist to everybody.Feel free to contact us, we are more than happy to help.<br>
                  <br>Decentralization is our vision!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
              </div>
            </ng-template>
            <!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2">
              <div class="card explore-feature border-0 rounded text-center bg-white" (click)="open(community)">
                <div class="card-body">
                  <div class="icon rounded-circle shadow-lg d-inline-flex justify-content-center">
                    <img src="assets/img/Community.png" class="img-fluid" style="max-width: 50%;padding-inline: 0px;" alt="">
                  </div>
                  <div class="content mt-3">
                    <h6 class="mb-0"><a href="javascript:void(0)" class="title text-dark align-bottom">Community Engagement</a></h6>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #community let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Responsible Governance!</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Being an active part of the community is a paramount at BadgerBite.We are actively engaged in governing processes of every network we are part of trying to secure it and promote decentralization.With responsible voting and serious proposals,<br> 
                  <br>our delegators have voice!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
              </div>
            </ng-template>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- Hero End -->
<div class="row" id="counter">
  <div class="col-md-3 col-6 mt-4 pt-2">
    <div class="counter-box text-center">
      <img src="assets/images/illustrator/Asset190.svg" class="avatar avatar-small" alt="">
      <h2 class="mb-0 mt-4"><span class="counter-value" [CountTo]="4500" [from]="11000" [duration]="4"></span>$
      </h2>
      <h6 class="counter-head text-muted">Investment</h6>
    </div>
    <!--end counter box-->
  </div>

  <div class="col-md-3 col-6 mt-4 pt-2">
    <div class="counter-box text-center">
      <img src="assets/images/illustrator/Asset189.svg" class="avatar avatar-small" alt="">
      <h2 class="mb-0 mt-4"><span class="counter-value" [CountTo]="9" [from]="1" [duration]="4"></span>+</h2>
      <h6 class="counter-head text-muted">{{ClientCount}}</h6>
    </div>
    <!--end counter box-->
  </div>

  <div class="col-md-3 col-6 mt-4 pt-2">
    <div class="counter-box text-center">
      <img src="assets/images/illustrator/Asset186.svg" class="avatar avatar-small" alt="">
      <h2 class="mb-0 mt-4"><span class="counter-value" [CountTo]="48002" [from]="12050" [duration]="4"></span>$
      </h2>
      <h6 class="counter-head text-muted">Profitability</h6>
    </div>
    <!--end counter box-->
  </div>

  <div class="col-md-3 col-6 mt-4 pt-2">
    <div class="counter-box text-center">
      <img src="assets/images/illustrator/Asset187.svg" class="avatar avatar-small" alt="">
      <h2 class="mb-0 mt-4"><span class="counter-value" [CountTo]="11" [from]="3" [duration]="4"></span>%</h2>
      <h6 class="counter-head text-muted">Growth</h6>
    </div>
    <!--end counter box-->
  </div>
</div>

<div>
<div class="row">
  <div class="col about-col">
    <div
      class="about-block"
      [ngClass]="showAbout ? 'full-about' : 'short-about'"
    >
      <p class="short-text" *ngIf="!showAbout" (click)="showAbout=!showAbout">
        Stake Ferociously...
      </p>
      <p *ngIf="showAbout" (click)="showAbout=!showAbout">
        BadgerBite Open Source tool for cosmos based networks!
        <br><br>
        Special Thanks to Nodejumper for their code
        <br><br>
        BadgerBite web app is a multi tool for cosmos based networks. It provides a set of helpful support tools for whole validator and delegator community.We support more than 20 chains and growing
        <br><br>
        What we are doing:
        <br><br>
        For each of our supported networks we provide professional validation services and advanced on-chain analytics tools such as:
        <br><br>1. Node Installation scripts with manual & automatic options.
        <br>2. Node synchronization scripts.
        <br>3. Cheat sheet for most popular blockchain commands (validator profile, wallet, token management and etc.).
        <br>4. Blockchain ecosystem/tools overview with user-friendly interface (both web & mobile).
        <br>5. Blockchain analytics for community: tokenomics, price/trading stats, comission & voting power distribution.

        Soon we ll launch our dedicated RPC servers along with snapshots for every network we participate
        <br><br>For more information please refer to our gihub page: <a href="https://github.com/BadgerbiteInfo" target="_blank">https://github.com/BadgerbiteInfo</a>
      </p>
      <p class="who-we-are-button" (click)="showAbout=!showAbout">
        {{ showAbout ? "Got it!" : "Who we are?" }}
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-12 col-lg-6">
    <div class="search-field">
      <span class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        class="form-control shadow-none rounded-pill"
        placeholder="chain name"
        type="search"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchQueryChange($event)"
      />
    </div>
  </div>
  <div class="col col-12 col-sm-5 col-md-5 col-lg-4">
    <div class="tabs-container">
      <div
        class="tab-button"
        (click)="stateService.chainType.next('all')"
        [ngClass]="chainType == 'all' ? 'active': ''"
      >
        All
      </div>
      <div
        class="tab-button"
        (click)="stateService.chainType.next('mainnet')"
        [ngClass]="chainType == 'mainnet' ? 'active': ''"
      >
        Mainnet
      </div>
      <div
        class="tab-button"
        (click)="stateService.chainType.next('testnet')"
        [ngClass]="chainType == 'testnet' ? 'active': ''"
      >
        Testnet
      </div>
    </div>
  </div>
  <div class="col col-12 col-sm-7 col-md-7 col-lg-2">
    <div class="chains-count">{{mainnetChains.length + testnetChains.length + archiveChains.length}} chain(s)</div>
  </div>
</div>
<div class="row">
  <div class="title-container" *ngIf="mainnetChains.length">
    <p class="title">Mainnet</p>
  </div>
  <div class="chain-cards-container" *ngIf="mainnetChains.length">
    <div
      *ngFor="let chain of mainnetChains"
      [routerLink]="['/' + chain.id + (chain.summaryDisabled ? '/installation' : '')]"
      class="col col-12 col-sm-6 col-md-4 col-lg-3"
    >
      <app-chain-card [chain]="chain"></app-chain-card>
    </div>
  </div>
  <div class="title-container" *ngIf="testnetChains.length">
    <p class="title">Testnet</p>
  </div>
  <div class="chain-cards-container" *ngIf="testnetChains.length">
    <div
      *ngFor="let chain of testnetChains"
      [routerLink]="['/' + chain.id + (chain.summaryDisabled ? '/installation' : '')]"
      class="col col-12 col-sm-6 col-md-4 col-lg-3"
    >
      <app-chain-card [chain]="chain"></app-chain-card>
    </div>
  </div>
  <div class="title-container" *ngIf="archiveChains.length">
    <p class="title">Archive</p>
  </div>
  <div class="chain-cards-container" *ngIf="archiveChains.length">
    <div
      *ngFor="let chain of archiveChains"
      [routerLink]="['/' + chain.id + (chain.summaryDisabled ? '/installation' : '')]"
      class="col col-12 col-sm-6 col-md-4 col-lg-3"
    >
      <app-chain-card [chain]="chain"></app-chain-card>
    </div>
  </div>
  <div
    class="empty-result"
    *ngIf="mainnetChains.length === 0 && testnetChains.length === 0"
  >
    <p>Oops, we can't find any results.</p>
  </div>
</div>
</div>
